.categoryLabel {
    background-repeat: repeat-x;
    background-size: contain; /* можно настроить: contain, 20px auto и т.д. */
    background-blend-mode: normal;
    padding: 12px 24px;
    border-radius: 12px;
    text-align: center;
}

.categoryLabel--clickable {
    transition: transform 0.2s ease;
    cursor: pointer;
}

.categoryLabel--clickable:hover {
    transform: scale(1.05);
}

.categoryLabel--static {
    cursor: default;
}

.categoryLabelText {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-shadow: var(--shadow-text);
}