backend/.env
backend/go.sum
/frontend/website/frontend-website/node_modules
**/node_modules
/frontend/website/frontend-website/.next
/backend/tmp
/backend/logs
/backend/uploads
frontend/website/frontend-website/package-lock.json
/frontend/app/FriendShip/.expo
frontend/app/FriendShip/expo-env.d.ts
notify_service/db/key.json
bot/package-lock.json
bot/.env
notify_service/.env
notify_service/.env
