@import "tailwindcss";

/* Локальные шрифты */
@font-face {
  font-family: 'Alexandria';
  src: url('/fonts/Alexandria-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: var(--color-bg-primary);
  --foreground: #171717;

  /* Меняешь здесь на нужный шрифт */
  --font-inter: 'Inter', sans-serif;
  --font-alexandria: 'Alexandria', sans-serif;
  /* или */
  /* --font-sans: 'Inter', sans-serif; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-alexandria: var(--font-alexandria); /* если используешь моноширинный */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  color-scheme: light;
}

html,
body {
  height: 100%;
  color: black;
  font-family: 'Inter', sans-serif;
  background-color: white;
}

.bgPage {
    position: relative;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    font-family: 'Inter', sans-serif;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 0;
}

.bgPage::before {
    content: "";
    position: fixed; /* Вместо absolute - делает фон статичным */
    inset: 0;
    background-image: url('/bg.png'), 
                      linear-gradient(135deg, #4e79a7 0%, var(--color-primary-blue) 100%);
    background-size: cover; /* Растягивает/сжимает изображение */
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Убирает повторение */
    z-index: -1;
}

.form-container {
  @apply bg-white rounded-2xl p-10 w-[50vw] font-inter border-2 border-[var(--color-primary-blue-dark)] min-h-[475px] text-2xl;
}

.page-wrapper {
  @apply h-full bg-[url('/bg_login.webp')] bg-cover bg-center bg-no-repeat;
}

.main-center {
  @apply flex items-center justify-center h-full;
}

.heading-title {
  @apply text-5xl text-center text-[var(--color-primary-blue)] mb-6;
}

.label-style {
  @apply block mb-1 text-black;
}

.input-style {
  @apply w-full rounded-lg border-2 border-[var(--color-primary-blue-dark)] p-3 text-xl text-black;
}

.button-primary {
  @apply w-[80%] block mx-auto rounded-lg bg-[var(--color-primary-blue)] border-2 border-[var(--color-primary-blue-dark)] text-white py-3 hover:bg-[var(--color-primary-blue)] transition mt-5;
}

.link-small-note {
  @apply text-right text-xl text-gray-600 -mt-2;
}


.footer-links {
  @apply flex items-center space-x-2 text-gray-600;
}

.footer-link {
  @apply hover:text-[var(--color-primary-blue)] transition-colors cursor-pointer;
}

.social-icon {
  @apply rounded-full flex items-center justify-center hover:opacity-80 transition-opacity;
}

.error {
  border-color: var(--color-danger) !important;
}

.errorMessage {
  color: var(--color-danger);
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
